/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
consensus/poc/shabal/target
consensus/poc/shabal/target/*
wsl/*
*.patch
.idea/
Debug/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
*.tlog
vendor/*
.vs/
!vendor/github.com/ontio/ontology-crypto/*
Chain/*
Chain
Cache
Cache/*
/config/*
nodectl
ontology
wallet.dat
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
docker/payload
config.json
peers.recent
*.dylib
*.so
/tools/sigsvr